asm
.curseclient
backups
crash-reports
journeymap
*.log
Thumbs.db
logs
mods
downloads
resourcepacks
saves
screenshots
server-resource-packs
1213309934
*.classdata
mod-list.txt
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
shaderpacks/*
